*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
img{
    width: 100%;
}
.nav-link {
    list-style-type: none;
    display:flex;
    padding:0;
    justify-content:space-around ;
}
.header nav a{
    display: flex;
    color: white;
    text-decoration: none;
    align-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
header img{
    display: grid;
    max-width: 348px;
    min-height:108px; 
}
#people office{
    display: flex;
    width: 1920px;
    height: 483px;
    padding: 0px;
    margin: 0px;
    background-color: 4px solid blue;
}
nav{
    background-color:#66B6D4 ;
    
}

